@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #24292f;
  --accent: #0969da;
  --comment: #6e7781;
  --success: #1a7f37;
  --error: #cf222e;

  --bg-subtle: #f6f8fa;
  --border-color: #d0d7de;
  /* Kembalikan ke warna light mode yang benar */

  /* Variabel BARU untuk UI interaktif */
  --bg-interactive: rgba(0, 0, 0, 0.05);
  /* Hitam transparan */
  --bg-interactive-hover: rgba(0, 0, 0, 0.1);

  --background: var(--bg);
  --foreground: var(--text);
  --font-mono: 'Fira Code', monospace;
}

/* Dark mode variables */
html.dark {
  --bg: #0d1117;
  --bg-subtle: #21262d;
  --text: #c9d1d9;
  --accent: #58a6ff;
  --comment: #8b949e;
  --success: #3fb950;
  --error: #f85149;
  --border-color: #30363d;

  /* Variabel BARU untuk UI interaktif (versi dark) */
  /* Putih transparan */
  --bg-interactive: rgba(255, 255, 255, 0.05);
  --bg-interactive-hover: rgba(255, 255, 255, 0.1);

  --background: #0d1117;
  --foreground: #c9d1d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #0d1117;
    --bg-subtle: #21262d;
    --text: #c9d1d9;
    --accent: #58a6ff;
    --comment: #8b949e;
    --success: #3fb950;
    --error: #f85149;

    --background: var(--bg);
    --foreground: var(--text);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);

  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga" on;
  /* transition: background-color 0.2s ease, color 0.2s ease; */
}

.theme-transition {
  transition: background-color 0.2s ease, color 0.2s ease;
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}